app:
  baseUrl: http://localhost:3000
backend:
  listen:
    port: 7007
    
techdocs:
  generator:
    runIn: 'docker'
  publisher:
    local:
      publishDirectory: '/tmp/backstage'

auth:
  guest: {}

catalog:
  rules:
    - allow: [Component, System, API, Resource, Location, Group, User, Domain]

  locations:
    - type: file
      target: ../examples/entities.yaml

    # Local example template
    - type: file
      target: ../examples/template/template.yaml
      rules:
        - allow: [Template]

    # Local example organizational data
    - type: file
      target: ../examples/org.yaml
      rules:
        - allow: [User, Group]